/*
Childrens images for either side of game board
make more responsive using viewport
fix row margin spacing
Score counters next to or under h2's
new game button styling
field for displaying winner/draw
font for O and X
*/

html {
  box-sizing: border-box;
}

body {
  background-image: url('../images/Cross_Background.jpg');    /* set y-axis for image to not repeat? */
  background-size: 100%;
}

header {
  margin: 5% auto;
}

h1 {
  font-family: 'Eczar', serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: white;
}

h2 {
  font-family: 'Eczar', serif;
  font-size:30px;
  font-weight: bold;
  margin: 10%;
  color: white;
  display: inline;
}

span {
  margin-left: 3%;
}

div {
  text-align: center;
}

button {
text-align: center;
margin: 0 auto 5% auto;
}

.grid-container {
  display: table;
  border-spacing: 5px;
  margin: 5% auto;
}

.grid_container section {
  display: table-row;
  border: 1px solid black;
  padding: 2px;
}

.grid-container div.selected-O {
  background-color: red;
}

.grid-container div.selected-X {
  background-color: green;
}

.grid-container div {
  width: 120px;
  height: 120px;
  background: grey;
  display: table-cell;
  border: 1px solid black;
}


.grid-container div:hover {
  background: white;
  border: 1px solid black;
}
